# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.env

# Large Model Weights (YOLO downloads automatically)
*.pt
*.onnx
*.engine

# Node / React dependencies & build artifacts
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / IDE Artifacts
.DS_Store
.vscode/
.idea/

*.pt
*.onnx
*.bin
backend/weights/